sudo: false

matrix:
  allow_failures:
    - python: nightly

  include:
    - os: linux
      python: 3.6.0

    - os: linux
      python: 3.6

    - os: linux
      python: 3.7

    - os: linux
      python: 3.8
      env: DEPLOY_PYPI=1

    - os: linux
      python: nightly

language: python

install:
  - pip install -U -r test-requirements.txt

  - pip install coveralls -U
  - pip install --editable .

# commands to run tests
script:
  - mypy --python-version 3.8 --strict --show-traceback --ignore-missing-imports --show-error-context --implicit-reexport --pretty -p magichttp
  - flake8 .
  - coverage run --source=magichttp setup.py test

after_success:
  - coveralls

deploy:
  - provider: pypi
    distributions: sdist bdist_wheel
    server: https://test.pypi.org/legacy/
    user: "__token__"
    password:
      secure: "KuSTIWdXo8yTJbkF/32LG3acZEyrJ9emY+eccAsAVbS7J5F3Pi+VIc33BTROtcXcJbU2MHmAThxHhdE8sx1lNpwrxkam1UnY8VRPMFSLpu2H/pl/UHwqMgkaAV3swTTDt8hELTwbFq/Bwa1i5HTaNlgTH11Byr05E35xaTnWQO1G1FNYf21HZk/LphnyVW/WgUR9RtuxcS/DaOxcR5sFnd46tufxCeMbi47mMi3obYBmGdElMBFnraJlyagKH09wKKmPa95uxQt5iXbeqmPZClet5U6Dz9fMeKsz+TG3p4dJrXvji7nR4F8ietdMeM8QCkuNAKuikCWnOMxlH+tSvyr5bbQuVXgE1z/gqlWDYUW9A7N9o54iMcPlyTrrfehrr1hLw7QpoUlR1kQS9j7oHooxQcQ6dywnXKsBOtaXUMfi7lRh5fj5q7c/6nBaxadRHdX01DSLA5TvWmSI/mztSJjYXCWIs+fOL+PSFm7ewU4PAczyE8R6YqzgMnQdVrJNBRCu4tUdVrGJTI5z7wQxiUGihQqgsh8ED8ylXf12O1D1U6iePVrEGYg7UgQEW0wJKfR228gBriuRvkgZtvHRBzm+gP0Xqs2S94JNgRyK3ut7hNj3WyEqQOiA9Xp1F9voyYuxPqSfXcseHmLhj7iPtyPryoQit0/r4U8YH4+qJi0="
    skip_cleanup: true
    skip_upload_docs: true
    on:
      branch: master
      tags: false
      condition: "$DEPLOY_PYPI = 1"

  - provider: pypi
    distributions: sdist bdist_wheel
    user: "__token__"
    password:
      secure: "YzOO8WRz3Q4UpgTIT2v1S8Om7KCFrFlLc/dHLNHrrsDI/zDTSdBApEU/9eOX9cQ2UqDqvgXZnglNcnOvUTAL3w8HRV6SJ0weSYEPm+11GtQeGAM3iUBX0xhVUm5eyfl2HV4zctYqmOm54+9onoLpwoa2AKlVz/pMmJkYzx+c6IVYPtrzzXL6zQTBHQQXgCHa7Evd44jfLXsT4v+J/l3IgjQIF9go28HGqyL7ghsd1Qu1+KAnDHu4tJenVUUhdQBdivGVuez1lTk9dbAhkhPPTGjKRWhTalOb3cD8EbSGFjhKVtKHGyoa4hThnQw2Fzaj5Jc5Ynph5KzOuqmogZ+J9WSYu5OxyGTLzuAj50BxlWHgU9GVxJcpjd8Ub7rmqKJl+3uvnyDYhxHy7FKw0clcy12LkqcQyyy5aFHApGSrxkPYlUUb4q/QCqCjeWwSQaIM+psNJIRrvnRMu39qMwp1lVgLrjyI+24oVQ3GCBMkp7hDzAXsUmVXm3hZX157o3QrUhlJx816B0Mw5vZqb63Vxoop66tMckWnl66Yje2KS4okts51BMN9xE9ucNU7RbDn7VXzgq2IKYyT0k3BrZz4oMa86kljUe62Zh7iFzEppXYR/YyqM89BH7VemkkqyqhNOA2VvuMvnIma6jbBcI2loveLjfBAuCY5csLqeY9A7Uc="
    skip_cleanup: true
    skip_upload_docs: true
    on:
      branch: master
      tags: true
      condition: "$DEPLOY_PYPI = 1"
