include README.rst
include CHANGELOG.rst
include LICENSE
include setup.cfg
include Pipfile
include Pipfile.lock
recursive-include . *.py
recursive-include tests *
recursive-include docs *
recursive-include examples *
global-exclude *.pyo
global-exclude *.pyc
prune docs/_build
prune tests/.cache
exclude ./_modify_version.py
